        #wrapper { width:960px; margin:0 auto; padding:0; }
	#hd{ width:100%; height:93px; }
	#bd{ width:100%; height:auto; min-height:680px;}
	#ft{ width:100%; height:40px; background-color:#525252; margin-top:50px;}

	.video { float:left; width:640px; height:400px; background-color:#3f3f3f; }
	.video-text { float:left; width:320px; height:400px; background-color:#696969; }
	 h1 { float:left; font-size:18px; font-family:Arial,Verdana; width:270px; margin:20px;  color:#fff;}
	 h2 { float:left; font-size:12px; font-family:Arial,Verdana; width:170px; margin:auto;  margin-left:15px; }
	.main-text { width:270px; margin:20px; font-family:Arial,Verdana; font-size:12px; color:#fff}
	.text { float:left; width:150px; height:50px;margin-top:4px; font-family:Arial,Verdana; font-size:11px; margin-left:15px;overflow: hidden }
	.date { float:left; margin-top:2px; font-family:Arial,Verdana; font-size:11px; color:#7b7b7b; margin-left:15px; }
	.date-main { float:left; font-family:Arial,Verdana; font-size:11px; color:#bbb; margin-left:20px; }
	.ft-text { font-size:11px; font-family:Arial,Verdana; margin-right:900px; color:#fff; padding-top:12px; }
	.lbr-btn { float:left; width:86px; height:93px; margin:0; }
         a{ color: #000000; font-size: 11px;text-decoration:none } a:hover{color: #0099BB; font-family:Verdana,Geneva,sans-serif;}
body {
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	
	background-repeat:repeat-x;
}